$animation-duration: 0.5s;

.ranking-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2c2c2c;
  border-top: solid 2px;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);

  transform: translateY(100%);
  transition: transform $animation-duration ease-in-out;

  .ranking-content {
    opacity: 0;
    height: 100%;
    overflow-y: auto;
    transition: opacity ($animation-duration / 2) ease-in-out ($animation-duration / 2);
  }

  &.expanded {
    transform: translateY(0);

    .ranking-content {
      opacity: 1;
    }
  }
}

* {
  color: white;
}



.rank {
  height: 100%;
  border-bottom: solid white 1px;
  border-left: solid white 1px;
  border-right: solid white 1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &.rank-0 {
    background-color: #2fbaff;
    mask-image: radial-gradient(
        circle at 50% 110%,
        black 10%,
        transparent 70%
    );
  }

  &.rank-1 {
    background-color: #9f8801;
    mask-image: radial-gradient(
        circle at 50% 90%,
        black 40%,
        transparent 70%
    );
  }

  &.rank-2 {
    background-color: darkred;
    mask-image: radial-gradient(
        circle at 50% 110%,
        black 10%,
        transparent 70%
    );
  }
}
