.initial-letter-input {
  width: 90%;

  background: transparent;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 120px;
  transition: font-size 0.2s ease-in-out;
  caret-color: transparent;
  text-decoration-line: none !important;

  &:focus, &:active {
    outline: none;
  }

  &:hover {
    cursor: default;
  }

  &::selection {
    background: transparent;
  }
}

.changing-color-div {
  transition: background-color 0.2s ease-in-out;
}
